#### Filtering

In [ ]:
df = pd.DataFrame({'a':[1,1,1,2,2,3,4,5],
                  'b':[10,10,11,20,0,0,40,50],
                  'c':['apple','apple','plum','pear','plum','apple','apple','apple']})
df

In [ ]:
df['a']<3

In [ ]:
df[df['a']<3]

In [ ]:
only_apple = df[df['c']=='apple']
only_apple

In [ ]:
df[(df['b']==10) & (df['c']=='apple')]

In [ ]:
df[df['a']<df['b']]

#### Set

In [ ]:
set_a = {'apple','plum','plum','pear'}
set_a

In [ ]:
US_spies = {'John','Anton','Brad','Dimitrij'}
russian_spies = {'Pavlov', 'Mikhail', 'Dimitrij','John', 'Alexander'}

In [ ]:
loyal_US_spies = US_spies.difference(russian_spies)
loyal_US_spies

In [ ]:
double_agents = US_spies.intersection(russian_spies)
double_agents

In [ ]:
all_spies = US_spies.union(russian_spies)
all_spies

In [ ]:
us_df = pd.DataFrame({'spies':['Anton', 'Anton', 'Brad', 'Brad', 'Brad','Dimitrij', 'Dimitrij', 'John', 'John'],
                     'contacted':pd.date_range(start='1/1/1960', end='1/9/1960')})
russia_df = pd.DataFrame({'spies':['Pavlov', 'Mikhail', 'Dimitrij','John', 'Alexander', 'Pavlov', 'Mikhail', 'Dimitrij','John', 'Alexander', 'Pavlov', 'Mikhail', 'Dimitrij','John', 'Alexander'],
                     'contacted':pd.date_range(start='1/1/1960', end='1/15/1960')})

In [ ]:
us_df

In [ ]:
russia_df

In [ ]:
us_df['spies'].tolist()

In [ ]:
set(us_df['spies'].tolist())

In [ ]:
double_agents = set(us_df['spies'].tolist()).intersection(set(russia_df['spies'].tolist()))
double_agents

## Preparing for joining the dataframes

For joining weather data to trip data, we'll have to know the landmark of each trip. For that we'll use the zip code information from the station dataframe. We also have to use the date, which first needs to be transformed. <br>
Let's start with that!

### 1 - exercise
Load the datasets into pandas dataframes called trip and weather.<br><br>
Let's start with the date columns! <br>
In the trip dataframe create two new columns called 'start_datetime' and 'end_datetime'. These should contain the values from column 'Start Date' and 'End date' converted into datetime. <br><br>
In the weather dataframe create a new column called 'datetime' similarly from the 'Date' column.<br><br>
Display the datatypes of these columns to check the difference between the old and the new format.

In [ ]:
### Your code here

### 1 - check yourself

In [ ]:
if (trip['Start Date'] != trip['start_date'].dt.strftime('%-m/%-d/%Y %-H:%M')).sum() == 0:
    print('start_date column is successfully converted')
else:
    print('start_date column is NOT successfully converted')
if (trip['End Date'] != trip['end_date'].dt.strftime('%-m/%-d/%Y %-H:%M')).sum() == 0:
    print('end_date column is successfully converted')
else:
    print('end_date column is NOT successfully converted')
if (weather['Date'] != weather['datetime'].dt.strftime('%-m/%-d/%Y')).sum() == 0:
    print('datetime column is successfully converted')   
else:
    print('datetime column is NOT successfully converted')

### 2 - exercise

Now, that we can use the date values in the weather and the trip dataframe, let's check if they cover the same interval! <br>
Create four variable called weather_datetime_min, weather_datetime_max, trip_start_date_min, trip_start_date_max, trip_end_date_min and trip_end_date_max containing the minimum and maximum values from the named columns.<br>
Display them to see if they the two dataframes have the same minimum and maximum date!

In [ ]:
### Your code here

### 2 - check yourself

In [ ]:
result_dict = {'weather_datetime_min':pd.Timestamp('2013-08-29 00:00:00'),
              'weather_datetime_max':pd.Timestamp('2014-02-28 00:00:00'),
              'trip_start_date_min':pd.Timestamp('2013-08-29 09:08:00'),
              'trip_start_date_max':pd.Timestamp('2023-08-29 14:13:00'),
              'trip_end_date_min':pd.Timestamp('2013-08-29 09:11:00'),
              'trip_end_date_max':pd.Timestamp('2014-03-02 16:52:00')}
for k,v in result_dict.items():
    if eval(k) == v:
        print('{} is correct'.format(k))
    else:
        print('{} is NOT correct'.format(k))

### 3 - exercise

So it looks like that there are some rows with invalid start_date in the trip dataframe. <br>
Let's see, in how many rows is the start_date later than the latest end_date. You can use the trip_end_date_max variable you've created in the previous task. <br>
Save the number of rows into a variable called nb_not_valid_start_date_rows.

In [ ]:
### Your code here

### 3 - check yourself

In [ ]:
if nb_not_valid_start_date_rows == 20:
    print('nb_not_valid_start_date_rows is correct')
else:
    print('nb_not_valid_start_date_rows is NOT correct')

### 4 - exercise

As the number of row with invalid start_date is not high, let's just drop them. <br>
Create a new dataframe called trip_valid_start where these rows are dropped.

In [ ]:
### Your code here

### 4 - check yourself

In [ ]:
if len(trip_valid_start) == 143985 and trip_valid_start['start_date'].max()==pd.Timestamp('2014-02-28 23:20:00'):
    print('New dataframe is correct')
else:
    print('Something is not correct with the new dataframe')

### 5 - exercise
In the weather dataframe the datetime refers to a day, while in the trip_valid_start dataframe the dates refer to exact times. <br>
For being able to join, we'll need to create new columns in both dataframes with only the date part of the timestamps. In the trip_valid_start dataframe we'll use the start_date to join on. <br>
In both dataframes create column called date_to_join in which the datetime/start_date column is transformed to datetime.date format! <br>
Using set().intersection and set().difference see how many common and different values are in the date_to_join columns in the two dataframes. Create variables called nb_common and nb_different and save the result into them!

In [ ]:
### Your code here

### 5 - check yourself

In [ ]:
if nb_common == 184 and nb_different==0:
    print('The date_to_join columns are correct')
else:
    print('Something is not correct')

### 6 -exercise

Let's save the changed dataframes to csv files!

In [ ]:
### Your code here