In [1]:
import pandas as pd

In [6]:
city_zip = pd.read_csv('/home/esztersomos/Documents/CEU/winter_2019/scraping/city_zip_df.csv')

In [3]:
weather = pd.read_csv('weather.csv')

trip = pd.read_csv('trip.csv')
station = pd.read_csv('station.csv')

In [7]:
weather.head()

,Date,Max_Temperature_F,Mean_Temperature_F,Min_TemperatureF,Max_Dew_Point_F,MeanDew_Point_F,Min_Dewpoint_F,Max_Humidity,Mean_Humidity,Min_Humidity,...,Max_Wind_Speed_MPH,Mean_Wind_Speed_MPH,Max_Gust_Speed_MPH,Precipitation_In,Cloud_Cover,Events,Wind_Dir_Degrees,zip,datetime,date_to_join
0,8/29/2013,74.0,68.0,61.0,61,58,56,93,75,57,...,23,11,28.0,0,4,no_event,286,94107,2013-08-29,2013-08-29
1,8/30/2013,78.0,69.0,60.0,61,58,56,90,70,50,...,29,13,35.0,0,2,no_event,291,94107,2013-08-30,2013-08-30
2,8/31/2013,71.0,64.0,57.0,57,56,54,93,75,57,...,26,15,31.0,0,4,no_event,284,94107,2013-08-31,2013-08-31
3,9/1/2013,74.0,66.0,58.0,60,56,53,87,68,49,...,25,13,29.0,0,4,no_event,284,94107,2013-09-01,2013-09-01
4,9/2/2013,75.0,69.0,62.0,61,60,58,93,77,61,...,23,12,30.0,0,6,no_event,277,94107,2013-09-02,2013-09-02

In [8]:
station.head()

,station_id,name,lat,long,dockcount,landmark,installation
0,2,San Jose Diridon Caltrain Station,37.329732,-121.901782,27,San Jose,8/6/2013
1,3,San Jose Civic Center,37.330698,-121.888979,15,San Jose,8/5/2013
2,4,Santa Clara at Almaden,37.333988,-121.894902,11,San Jose,8/6/2013
3,5,Adobe on Almaden,37.331415,-121.893200,19,San Jose,8/5/2013
4,6,San Pedro Square,37.336721,-121.894074,15,San Jose,8/7/2013

In [9]:
trip.head()

,Trip ID,Start Date,Start Station,Start Terminal,End Date,End Station,End Terminal,Bike #,Subscription Type,Zip Code,start_date,end_date,date_to_join
0,4576,8/29/2013 14:13,South Van Ness at Market,66,8/29/2013 14:14,South Van Ness at Market,66,520,Subscriber,94127.0,2013-08-29 14:13:00,2013-08-29 14:14:00,2013-08-29
1,4607,8/29/2013 14:42,San Jose City Hall,10,8/29/2013 14:43,San Jose City Hall,10,661,Subscriber,95138.0,2013-08-29 14:42:00,2013-08-29 14:43:00,2013-08-29
2,4130,8/29/2013 10:16,Mountain View City Hall,27,8/29/2013 10:17,Mountain View City Hall,27,48,Subscriber,97214.0,2013-08-29 10:16:00,2013-08-29 10:17:00,2013-08-29
3,4251,8/29/2013 11:29,San Jose City Hall,10,8/29/2013 11:30,San Jose City Hall,10,26,Subscriber,95060.0,2013-08-29 11:29:00,2013-08-29 11:30:00,2013-08-29
4,4299,8/29/2013 12:02,South Van Ness at Market,66,8/29/2013 12:04,Market at 10th,67,319,Subscriber,94103.0,2013-08-29 12:02:00,2013-08-29 12:04:00,2013-08-29

In [10]:
trip['Zip Code'].iloc[0]

'94127.0'

In [12]:
city_zip['zip'].iloc[0]

94088

In [13]:
weather['zip'].iloc[0]

94107

In [50]:
def zip_transform(x):
    if type(x) == str:
        return int(x.split('.')[0].split('-')[0])
    elif np.isnan(x):
        return 0
    return int(x)

trip['zip'] = trip['Zip Code'].apply(lambda x: zip_transform(x))

In [53]:
len(set(trip['zip'].unique()).intersection(set(weather['zip'].unique())))

5

In [54]:
weather.zip.unique()

array([94107, 94301, 94041, 95113, 94063])

In [55]:
weather_with_city = pd.merge(weather, city_zip, how='left', on='zip')

In [57]:
weather_with_city[weather_with_city['city'].isnull()]

Empty DataFrame
Columns: [Date, Max_Temperature_F, Mean_Temperature_F, Min_TemperatureF, Max_Dew_Point_F, MeanDew_Point_F, Min_Dewpoint_F, Max_Humidity, Mean_Humidity , Min_Humidity , Max_Sea_Level_Pressure_In , Mean_Sea_Level_Pressure_In , Min_Sea_Level_Pressure_In , Max_Visibility_Miles , Mean_Visibility_Miles , Min_Visibility_Miles , Max_Wind_Speed_MPH , Mean_Wind_Speed_MPH , Max_Gust_Speed_MPH, Precipitation_In , Cloud_Cover , Events, Wind_Dir_Degrees, zip, datetime, date_to_join, city]
Index: []

[0 rows x 27 columns]

In [59]:
trip_with_city = pd.merge(trip, city_zip, how='left', on='zip')

In [62]:
len(trip_with_city[trip_with_city['city'].isnull()])

51215

In [63]:
len(trip)

143985