In [3]:
import pandas as pd
import numpy as np

In [4]:
zipdict = np.load('zipcode_dict.npy').item()

df_rows = []
for k,v in zipdict.items():
    for vv in v:
        df_rows.append([k,vv])

zipdf = pd.DataFrame(df_rows, columns=['landmark','zipcode'])

zipdf['zip'] = zipdf['zipcode'].apply(lambda x: int(x.strip(',')))

zipdf.drop('zipcode', axis=1, inplace=True)

In [105]:
zipdf.to_csv('/home/esztersomos/Documents/CEU/winter_2019/behind_the_scenes/zipdf.csv', index=False)

In [104]:
zipdf[zipdf['zip']==94063]

        landmark    zip
70  Redwood City  94063

In [ ]:
zdict = {
   'South Van Ness at Market': 94103,
    'San Jose City Hall': 95139,
    'Mountain View City Hall': 94039,
    'Golden Gate at Polk': 94102,
    'Santa Clara at Almaden': 95050,
    'San Jose Diridon Caltrain Station':95110,
    'San Jose Civic Center':95113,
    'Adobe on Almaden': 95050,
    'San Pedro Square': 95110,
    'Paseo de San Antonio': 95113,
    'San Salvador at 1st': 95113,
    'Japantown': 95112,
    'MLK Library': 95112,
    'SJSU 4th at San Carlos': 95112,
    'St James Park':95112,
    'Arena Green / SAP Center':95113,
    'SJSU - San Salvador at 9th': 95112,
    'Franklin at Maple': 94063,
    'Redwood City Caltrain Station': 94063,
    
}

In [102]:
### TODO: legyen a weatherben landmark, a trip-bol kiszedem a zipet, es a stationbe beleteszem a zip-et

In [98]:
for index,row in station.iterrows():
    url = "https://www.google.com/maps/place/{},{}".format(row['lat'],row['long'])
    print(row['name'])
    print(url)

San Jose Diridon Caltrain Station
https://www.google.com/maps/place/37.329732,-121.90178200000001
San Jose Civic Center
https://www.google.com/maps/place/37.330698,-121.888979
Santa Clara at Almaden
https://www.google.com/maps/place/37.333988,-121.894902
Adobe on Almaden
https://www.google.com/maps/place/37.331415,-121.8932
San Pedro Square
https://www.google.com/maps/place/37.336721000000004,-121.894074
Paseo de San Antonio
https://www.google.com/maps/place/37.333798,-121.88694299999999
San Salvador at 1st
https://www.google.com/maps/place/37.330165,-121.88583100000001
Japantown
https://www.google.com/maps/place/37.348742,-121.89471499999999
San Jose City Hall
https://www.google.com/maps/place/37.337391,-121.886995
MLK Library
https://www.google.com/maps/place/37.335885,-121.88566000000002
SJSU 4th at San Carlos
https://www.google.com/maps/place/37.332808,-121.88389099999999
St James Park
https://www.google.com/maps/place/37.339301,-121.88993700000002
Arena Green / SAP Center
https://www.google.com/maps/place/37.332692,-121.900084
SJSU - San Salvador at 9th
https://www.google.com/maps/place/37.333954999999996,-121.877349
Franklin at Maple
https://www.google.com/maps/place/37.481758,-122.226904
Redwood City Caltrain Station
https://www.google.com/maps/place/37.486078000000006,-122.23208899999999
San Mateo County Center
https://www.google.com/maps/place/37.488501,-122.23106100000001
Redwood City Public Library
https://www.google.com/maps/place/37.484219,-122.227424
Broadway at Main
https://www.google.com/maps/place/37.486725,-122.225551
Redwood City Medical Center
https://www.google.com/maps/place/37.487682,-122.223492
Mountain View City Hall
https://www.google.com/maps/place/37.389218,-122.081896
Mountain View Caltrain Station
https://www.google.com/maps/place/37.394358000000004,-122.07671299999998
San Antonio Caltrain Station
https://www.google.com/maps/place/37.40694000000001,-122.10675800000001
Evelyn Park and Ride
https://www.google.com/maps/place/37.39027700000001,-122.066553
San Antonio Shopping Center
https://www.google.com/maps/place/37.400443,-122.10833799999999
Castro Street and El Camino Real
https://www.google.com/maps/place/37.385956,-122.083678
Rengstorff Avenue / California Street
https://www.google.com/maps/place/37.400240999999994,-122.099076
Palo Alto Caltrain Station
https://www.google.com/maps/place/37.443988,-122.164759
University and Emerson
https://www.google.com/maps/place/37.444521,-122.16309299999999
California Ave Caltrain Station
https://www.google.com/maps/place/37.429082,-122.14280500000001
Cowper at University
https://www.google.com/maps/place/37.448598,-122.159504
Park at Olive
https://www.google.com/maps/place/37.425683899999996,-122.13777749999998
Powell Street BART
https://www.google.com/maps/place/37.78387100000001,-122.408433
Clay at Battery
https://www.google.com/maps/place/37.795001,-122.39997
Davis at Jackson
https://www.google.com/maps/place/37.79728,-122.398436
Commercial at Montgomery
https://www.google.com/maps/place/37.794230999999996,-122.402923
Washington at Kearney
https://www.google.com/maps/place/37.795425,-122.40476699999999
Post at Kearney
https://www.google.com/maps/place/37.788975,-122.403452
Embarcadero at Vallejo
https://www.google.com/maps/place/37.799953,-122.398525
Spear at Folsom
https://www.google.com/maps/place/37.789625,-122.39026399999999
Harry Bridges Plaza (Ferry Building)
https://www.google.com/maps/place/37.795392,-122.394203
Embarcadero at Folsom
https://www.google.com/maps/place/37.79146400000001,-122.391034
Embarcadero at Bryant
https://www.google.com/maps/place/37.787152,-122.38801299999999
Temporary Transbay Terminal (Howard at Beale)
https://www.google.com/maps/place/37.789756,-122.39464299999999
Beale at Market
https://www.google.com/maps/place/37.792251,-122.39708600000002
5th at Howard
https://www.google.com/maps/place/37.781752000000004,-122.40512700000001
San Francisco City Hall
https://www.google.com/maps/place/37.77865,-122.41823500000001
Golden Gate at Polk
https://www.google.com/maps/place/37.781332,-122.418603
Embarcadero at Sansome
https://www.google.com/maps/place/37.80477,-122.40323400000001
2nd at Townsend
https://www.google.com/maps/place/37.780526,-122.39028799999998
2nd at Folsom
https://www.google.com/maps/place/37.785299,-122.39623600000002
Howard at 2nd
https://www.google.com/maps/place/37.78697800000001,-122.39810800000001
2nd at South Park
https://www.google.com/maps/place/37.782259,-122.392738
Townsend at 7th
https://www.google.com/maps/place/37.771058000000004,-122.402717
South Van Ness at Market
https://www.google.com/maps/place/37.774814,-122.418954
Market at 10th
https://www.google.com/maps/place/37.776619000000004,-122.41738500000001
Yerba Buena Center of the Arts (3rd @ Howard)
https://www.google.com/maps/place/37.784878000000006,-122.40101399999999
San Francisco Caltrain 2 (330 Townsend)
https://www.google.com/maps/place/37.776377000000004,-122.39607
San Francisco Caltrain (Townsend at 4th)
https://www.google.com/maps/place/37.776617,-122.39526000000001
Powell at Post (Union Square)
https://www.google.com/maps/place/37.788446,-122.408499
Civic Center BART (7th at Market)
https://www.google.com/maps/place/37.780356,-122.41291899999999
Grant Avenue at Columbus Avenue
https://www.google.com/maps/place/37.798522,-122.40724499999999
Steuart at Market
https://www.google.com/maps/place/37.794139,-122.394434
Mechanics Plaza (Market at Battery)
https://www.google.com/maps/place/37.7913,-122.399051
Market at 4th
https://www.google.com/maps/place/37.786305,-122.40496599999999
Market at Sansome
https://www.google.com/maps/place/37.789625,-122.400811
San Jose Government Center
https://www.google.com/maps/place/37.352601,-121.90573300000001
Broadway St at Battery St
https://www.google.com/maps/place/37.798541,-122.40086200000002
Mezes Park
https://www.google.com/maps/place/37.491269,-122.23623400000001

In [103]:
trip['Start Station'].unique()

array(['South Van Ness at Market', 'San Jose City Hall',
       'Mountain View City Hall', 'Golden Gate at Polk',
       'Santa Clara at Almaden', 'San Salvador at 1st', 'Spear at Folsom',
       'San Pedro Square', 'Mountain View Caltrain Station',
       '2nd at South Park', 'Clay at Battery', 'Post at Kearney',
       'Market at 10th', 'Steuart at Market', 'Powell Street BART',
       'Redwood City Caltrain Station', 'San Francisco City Hall',
       'Beale at Market', 'Japantown',
       'Temporary Transbay Terminal (Howard at Beale)',
       'San Jose Civic Center', 'Redwood City Medical Center',
       '2nd at Townsend', 'Civic Center BART (7th at Market)',
       'Commercial at Montgomery', 'Market at 4th', '2nd at Folsom',
       'Clayat Battery', 'Washington at Kearney', 'University and Emerson',
       'Yerba Buena Center of the Arts (3rd @ Howard)', 'Adobe on Almaden',
       'Powell at Post (Union Square)',
       'San Francisco Caltrain 2 (330 Townsend)',
       'Grant Avenue at Columbus Avenue', 'Embarcadero at Vallejo',
       'Mechanics Plaza (Market at Battery)',
       'San Francisco Caltrain (Townsend at 4th)', 'MLK Library',
       'Harry Bridges Plaza (Ferry Building)', 'Market at Sansome',
       'Townsend at 7th', 'Embarcadero at Sansome', 'Evelyn Park and Ride',
       'Davis at Jackson', 'Palo Alto Caltrain Station',
       'Embarcadero at Bryant', '5th at Howard', 'San Mateo County Center',
       'Cowper at University', 'Embarcadero at Folsom', 'St James Park',
       'Howard at 2nd', 'San Jose Diridon Caltrain Station',
       'Paseo de San Antonio', 'California Ave Caltrain Station',
       'San Antonio Caltrain Station',
       'Rengstorff Avenue / California Street', 'Arena Green / SAP Center',
       'SJSU 4th at San Carlos', 'Franklin at Maple', 'Park at Olive',
       'Redwood City Public Library', 'SJSU - San Salvador at 9th',
       'Broadway at Main', 'San Jose Government Center',
       'Castro Street and El Camino Real', 'San Antonio Shopping Center',
       'Broadway St at Battery St', 'Mezes Park'], dtype=object)

https://www.melissa.com/lookups/latlngzip4.asp?lat=37.329732&lng=-121.901782

In [61]:
import requests
from bs4 import BeautifulSoup
import re

In [89]:
url

'https://www.melissa.com/lookups/latlngzip4.asp?lat=37.329732&lng=-121.90178200000001'

In [86]:
station_rows = []
for index,row in station.iterrows():
    url = "https://www.melissa.com/lookups/latlngzip4.asp?lat={}&lng={}".format(row['lat'],row['long'])
    resp = requests.get(url)
    
    soup = BeautifulSoup(resp.text, 'html.parser')
    break
    try:
        x = soup.find('table', id="alt").text
        pc = re.findall("Code[0-9]*", x)[0]
    except:
        pc = '0'
        print(row['name'])
    station_rows.append([row['name'], pc])

In [ ]:
pd.DataF(station_rows)

In [ ]:
def zip_transform(x):
    if type(x) == str:
        return int(x.split('.')[0].split('-')[0])
    elif np.isnan(x):
        return 0
    return int(x)

trip['zip'] = trip['Zip Code'].apply(lambda x: zip_transform(x))

In [24]:
trip_with_landmark = pd.merge(trip, zipdf, how='left', on='zip')
trip_with_landmark[trip_with_landmark.landmark.isnull()]

,Trip ID,Start Date,Start Station,Start Terminal,End Date,End Station,End Terminal,Bike #,Subscription Type,Zip Code,start_date,end_date,date_to_join,zip,landmark
2,4130,8/29/2013 10:16,Mountain View City Hall,27,8/29/2013 10:17,Mountain View City Hall,27,48,Subscriber,97214.0,2013-08-29 10:16:00,2013-08-29 10:17:00,2013-08-29,97214,NaN
3,4251,8/29/2013 11:29,San Jose City Hall,10,8/29/2013 11:30,San Jose City Hall,10,26,Subscriber,95060.0,2013-08-29 11:29:00,2013-08-29 11:30:00,2013-08-29,95060,NaN
9,4258,8/29/2013 11:33,San Jose City Hall,10,8/29/2013 11:35,MLK Library,11,107,Subscriber,95060.0,2013-08-29 11:33:00,2013-08-29 11:35:00,2013-08-29,95060,NaN
16,4242,8/29/2013 11:25,San Jose City Hall,10,8/29/2013 11:27,San Jose City Hall,10,26,Subscriber,95060.0,2013-08-29 11:25:00,2013-08-29 11:27:00,2013-08-29,95060,NaN
30,4276,8/29/2013 11:45,2nd at Townsend,61,8/29/2013 11:48,2nd at South Park,64,280,Customer,95819.0,2013-08-29 11:45:00,2013-08-29 11:48:00,2013-08-29,95819,NaN
34,4086,8/29/2013 9:42,Commercial at Montgomery,45,8/29/2013 9:45,Commercial at Montgomery,45,379,Subscriber,94402.0,2013-08-29 09:42:00,2013-08-29 09:45:00,2013-08-29,94402,NaN
41,4944,8/29/2013 19:06,Clayat Battery,41,8/29/2013 19:10,Washington at Kearney,46,502,Customer,94612.0,2013-08-29 19:06:00,2013-08-29 19:10:00,2013-08-29,94612,NaN
42,4400,8/29/2013 12:39,Washington at Kearney,46,8/29/2013 12:42,Clay at Battery,41,619,Subscriber,94609.0,2013-08-29 12:39:00,2013-08-29 12:42:00,2013-08-29,94609,NaN
55,4081,8/29/2013 9:38,Mountain View City Hall,27,8/29/2013 9:41,Mountain View City Hall,27,150,Subscriber,97214.0,2013-08-29 09:38:00,2013-08-29 09:41:00,2013-08-29,97214,NaN
59,4467,8/29/2013 13:11,Mechanics Plaza (Market at Battery),75,8/29/2013 13:15,Clay at Battery,41,315,Subscriber,10009.0,2013-08-29 13:11:00,2013-08-29 13:15:00,2013-08-29,10009,NaN
61,5001,8/29/2013 20:00,2nd at Folsom,62,8/29/2013 20:04,Market at Sansome,77,567,Customer,94608.0,2013-08-29 20:00:00,2013-08-29 20:04:00,2013-08-29,94608,NaN
68,4317,8/29/2013 12:07,San Francisco City Hall,58,8/29/2013 12:11,South Van Ness at Market,66,587,Subscriber,94597.0,2013-08-29 12:07:00,2013-08-29 12:11:00,2013-08-29,94597,NaN
73,4443,8/29/2013 12:56,Market at Sansome,77,8/29/2013 13:00,Steuart at Market,74,436,Customer,94960.0,2013-08-29 12:56:00,2013-08-29 13:00:00,2013-08-29,94960,NaN
74,5105,8/29/2013 23:12,Townsend at 7th,65,8/29/2013 23:16,San Francisco Caltrain (Townsend at 4th),70,348,Customer,37206.0,2013-08-29 23:12:00,2013-08-29 23:16:00,2013-08-29,37206,NaN
79,4584,8/29/2013 14:17,South Van Ness at Market,66,8/29/2013 14:21,South Van Ness at Market,66,587,Subscriber,94612.0,2013-08-29 14:17:00,2013-08-29 14:21:00,2013-08-29,94612,NaN
80,4599,8/29/2013 14:31,Embarcadero at Sansome,60,8/29/2013 14:35,Davis at Jackson,42,425,Customer,2360.0,2013-08-29 14:31:00,2013-08-29 14:35:00,2013-08-29,2360,NaN
82,4870,8/29/2013 18:06,Market at 4th,76,8/29/2013 18:10,Beale at Market,56,626,Customer,43214.0,2013-08-29 18:06:00,2013-08-29 18:10:00,2013-08-29,43214,NaN
86,4686,8/29/2013 15:59,Market at Sansome,77,8/29/2013 16:03,Temporary Transbay Terminal (Howard at Beale),55,624,Customer,NaN,2013-08-29 15:59:00,2013-08-29 16:03:00,2013-08-29,0,NaN
92,4084,8/29/2013 9:41,Mountain View City Hall,27,8/29/2013 9:46,Mountain View City Hall,27,138,Customer,97214.0,2013-08-29 09:41:00,2013-08-29 09:46:00,2013-08-29,97214,NaN
93,4595,8/29/2013 14:31,Embarcadero at Sansome,60,8/29/2013 14:36,Davis at Jackson,42,356,Customer,1719.0,2013-08-29 14:31:00,2013-08-29 14:36:00,2013-08-29,1719,NaN
94,4377,8/29/2013 12:27,Market at Sansome,77,8/29/2013 12:32,Temporary Transbay Terminal (Howard at Beale),55,471,Subscriber,94965.0,2013-08-29 12:27:00,2013-08-29 12:32:00,2013-08-29,94965,NaN
102,4331,8/29/2013 12:12,University and Emerson,35,8/29/2013 12:17,Cowper at University,37,144,Subscriber,94025.0,2013-08-29 12:12:00,2013-08-29 12:17:00,2013-08-29,94025,NaN
106,4766,8/29/2013 17:05,San Mateo County Center,23,8/29/2013 17:10,San Mateo County Center,23,227,Subscriber,94402.0,2013-08-29 17:05:00,2013-08-29 17:10:00,2013-08-29,94402,NaN
109,4744,8/29/2013 16:52,5th at Howard,57,8/29/2013 16:57,San Francisco Caltrain (Townsend at 4th),70,379,Customer,95032.0,2013-08-29 16:52:00,2013-08-29 16:57:00,2013-08-29,95032,NaN
120,4805,8/29/2013 17:26,Santa Clara at Almaden,4,8/29/2013 17:32,San Jose City Hall,10,26,Subscriber,95066.0,2013-08-29 17:26:00,2013-08-29 17:32:00,2013-08-29,95066,NaN
137,4955,8/29/2013 19:15,Golden Gate at Polk,59,8/29/2013 19:21,Market at 10th,67,498,Subscriber,94608.0,2013-08-29 19:15:00,2013-08-29 19:21:00,2013-08-29,94608,NaN
138,4785,8/29/2013 17:13,Yerba Buena Center of the Arts (3rd @ Howard),68,8/29/2013 17:19,San Francisco Caltrain (Townsend at 4th),70,562,Subscriber,94401.0,2013-08-29 17:13:00,2013-08-29 17:19:00,2013-08-29,94401,NaN
140,4786,8/29/2013 17:14,Market at 10th,67,8/29/2013 17:20,Golden Gate at Polk,59,351,Subscriber,94597.0,2013-08-29 17:14:00,2013-08-29 17:20:00,2013-08-29,94597,NaN
145,4700,8/29/2013 16:12,Davis at Jackson,42,8/29/2013 16:18,Grant Avenue at Columbus Avenue,73,510,Customer,2360.0,2013-08-29 16:12:00,2013-08-29 16:18:00,2013-08-29,2360,NaN
151,4527,8/29/2013 13:39,Yerba Buena Center of the Arts (3rd @ Howard),68,8/29/2013 13:45,Powell Street BART,39,522,Subscriber,94610.0,2013-08-29 13:39:00,2013-08-29 13:45:00,2013-08-29,94610,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
144429,137038,12/28/2013 11:38,Harry Bridges Plaza (Ferry Building),50,12/28/2013 13:31,Harry Bridges Plaza (Ferry Building),50,556,Customer,NaN,2013-12-28 11:38:00,2013-12-28 13:31:00,2013-12-28,0,NaN
144430,137039,12/28/2013 11:40,Golden Gate at Polk,59,12/28/2013 12:03,Beale at Market,56,402,Customer,45220,2013-12-28 11:40:00,2013-12-28 12:03:00,2013-12-28,45220,NaN
144432,137041,12/28/2013 11:42,Golden Gate at Polk,59,12/28/2013 12:03,Beale at Market,56,366,Customer,NaN,2013-12-28 11:42:00,2013-12-28 12:03:00,2013-12-28,0,NaN
144435,137046,12/28/2013 11:48,Harry Bridges Plaza (Ferry Building),50,12/28/2013 12:01,Grant Avenue at Columbus Avenue,73,439,Customer,11222,2013-12-28 11:48:00,2013-12-28 12:01:00,2013-12-28,11222,NaN
144436,137047,12/28/2013 11:48,Harry Bridges Plaza (Ferry Building),50,12/28/2013 12:01,Grant Avenue at Columbus Avenue,73,623,Customer,11222,2013-12-28 11:48:00,2013-12-28 12:01:00,2013-12-28,11222,NaN
144438,137050,12/28/2013 11:52,Harry Bridges Plaza (Ferry Building),50,12/28/2013 12:01,Embarcadero at Sansome,60,472,Customer,92101,2013-12-28 11:52:00,2013-12-28 12:01:00,2013-12-28,92101,NaN
144439,137051,12/28/2013 11:52,Harry Bridges Plaza (Ferry Building),50,12/28/2013 12:01,Embarcadero at Sansome,60,615,Customer,92101,2013-12-28 11:52:00,2013-12-28 12:01:00,2013-12-28,92101,NaN
144440,137054,12/28/2013 11:56,2nd at Townsend,61,12/28/2013 12:12,Embarcadero at Sansome,60,443,Customer,84721,2013-12-28 11:56:00,2013-12-28 12:12:00,2013-12-28,84721,NaN
144441,137055,12/28/2013 11:56,2nd at Townsend,61,12/28/2013 12:13,Embarcadero at Sansome,60,619,Customer,84721,2013-12-28 11:56:00,2013-12-28 12:13:00,2013-12-28,84721,NaN
144442,137057,12/28/2013 11:57,2nd at Townsend,61,12/28/2013 12:20,Clay at Battery,41,483,Customer,31207,2013-12-28 11:57:00,2013-12-28 12:20:00,2013-12-28,31207,NaN
144443,137059,12/28/2013 11:58,Embarcadero at Vallejo,48,12/28/2013 12:38,Embarcadero at Vallejo,48,598,Customer,NaN,2013-12-28 11:58:00,2013-12-28 12:38:00,2013-12-28,0,NaN
144445,137061,12/28/2013 12:01,Golden Gate at Polk,59,12/28/2013 12:26,2nd at Townsend,61,608,Customer,NaN,2013-12-28 12:01:00,2013-12-28 12:26:00,2013-12-28,0,NaN
144446,137062,12/28/2013 12:01,Golden Gate at Polk,59,12/28/2013 12:26,2nd at Townsend,61,551,Customer,23662,2013-12-28 12:01:00,2013-12-28 12:26:00,2013-12-28,23662,NaN
144451,137069,12/28/2013 12:05,Beale at Market,56,12/28/2013 12:33,Embarcadero at Sansome,60,436,Customer,NaN,2013-12-28 12:05:00,2013-12-28 12:33:00,2013-12-28,0,NaN
144452,137070,12/28/2013 12:05,Beale at Market,56,12/28/2013 12:33,Embarcadero at Sansome,60,366,Customer,NaN,2013-12-28 12:05:00,2013-12-28 12:33:00,2013-12-28,0,NaN
144454,137072,12/28/2013 12:06,Beale at Market,56,12/28/2013 12:33,Embarcadero at Sansome,60,402,Customer,45220,2013-12-28 12:06:00,2013-12-28 12:33:00,2013-12-28,45220,NaN
144456,137074,12/28/2013 12:10,Powell at Post (Union Square),71,12/28/2013 12:20,Steuart at Market,74,274,Customer,55105,2013-12-28 12:10:00,2013-12-28 12:20:00,2013-12-28,55105,NaN
144457,137075,12/28/2013 12:11,Powell at Post (Union Square),71,12/28/2013 12:20,Steuart at Market,74,374,Customer,55105,2013-12-28 12:11:00,2013-12-28 12:20:00,2013-12-28,55105,NaN
144462,137081,12/28/2013 12:16,Market at 10th,67,12/28/2013 12:25,Market at 10th,67,313,Customer,92109,2013-12-28 12:16:00,2013-12-28 12:25:00,2013-12-28,92109,NaN
144465,137084,12/28/2013 12:22,Market at 10th,67,12/28/2013 12:25,Market at 10th,67,550,Customer,92109,2013-12-28 12:22:00,2013-12-28 12:25:00,2013-12-28,92109,NaN
144476,137099,12/28/2013 12:41,Market at 4th,76,12/28/2013 12:44,5th at Howard,57,589,Subscriber,94545,2013-12-28 12:41:00,2013-12-28 12:44:00,2013-12-28,94545,NaN
144481,137104,12/28/2013 12:44,Harry Bridges Plaza (Ferry Building),50,12/28/2013 12:53,Embarcadero at Sansome,60,448,Customer,NaN,2013-12-28 12:44:00,2013-12-28 12:53:00,2013-12-28,0,NaN
144482,137105,12/28/2013 12:44,Harry Bridges Plaza (Ferry Building),50,12/28/2013 12:52,Embarcadero at Sansome,60,272,Customer,NaN,2013-12-28 12:44:00,2013-12-28 12:52:00,2013-12-28,0,NaN
144483,137106,12/28/2013 12:44,Washington at Kearney,46,12/28/2013 13:01,Embarcadero at Sansome,60,581,Customer,92122,2013-12-28 12:44:00,2013-12-28 13:01:00,2013-12-28,92122,NaN
144486,137113,12/28/2013 12:50,Embarcadero at Sansome,60,12/28/2013 12:53,Embarcadero at Sansome,60,514,Customer,35405,2013-12-28 12:50:00,2013-12-28 12:53:00,2013-12-28,35405,NaN
144487,137115,12/28/2013 12:52,Harry Bridges Plaza (Ferry Building),50,12/28/2013 13:41,Embarcadero at Vallejo,48,270,Customer,5008,2013-12-28 12:52:00,2013-12-28 13:41:00,2013-12-28,5008,NaN
144488,137116,12/28/2013 12:52,Harry Bridges Plaza (Ferry Building),50,12/28/2013 13:41,Embarcadero at Vallejo,48,457,Customer,5008,2013-12-28 12:52:00,2013-12-28 13:41:00,2013-12-28,5008,NaN
144490,137118,12/28/2013 12:53,2nd at Townsend,61,12/28/2013 13:14,2nd at Townsend,61,608,Customer,97462,2013-12-28 12:53:00,2013-12-28 13:14:00,2013-12-28,97462,NaN
144493,137123,12/28/2013 12:54,5th at Howard,57,12/28/2013 13:00,Market at 4th,76,589,Subscriber,94545,2013-12-28 12:54:00,2013-12-28 13:00:00,2013-12-28,94545,NaN
144496,137129,12/28/2013 12:57,5th at Howard,57,12/28/2013 13:09,Steuart at Market,74,280,Customer,80209,2013-12-28 12:57:00,2013-12-28 13:09:00,2013-12-28,80209,NaN

In [2]:
weather = pd.read_csv('weather.csv')

trip = pd.read_csv('trip.csv')
station = pd.read_csv('station.csv')

/home/esztersomos/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2698: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [7]:
weather.head()

,Date,Max_Temperature_F,Mean_Temperature_F,Min_TemperatureF,Max_Dew_Point_F,MeanDew_Point_F,Min_Dewpoint_F,Max_Humidity,Mean_Humidity,Min_Humidity,...,Max_Wind_Speed_MPH,Mean_Wind_Speed_MPH,Max_Gust_Speed_MPH,Precipitation_In,Cloud_Cover,Events,Wind_Dir_Degrees,zip,datetime,date_to_join
0,8/29/2013,74.0,68.0,61.0,61,58,56,93,75,57,...,23,11,28.0,0,4,no_event,286,94107,2013-08-29,2013-08-29
1,8/30/2013,78.0,69.0,60.0,61,58,56,90,70,50,...,29,13,35.0,0,2,no_event,291,94107,2013-08-30,2013-08-30
2,8/31/2013,71.0,64.0,57.0,57,56,54,93,75,57,...,26,15,31.0,0,4,no_event,284,94107,2013-08-31,2013-08-31
3,9/1/2013,74.0,66.0,58.0,60,56,53,87,68,49,...,25,13,29.0,0,4,no_event,284,94107,2013-09-01,2013-09-01
4,9/2/2013,75.0,69.0,62.0,61,60,58,93,77,61,...,23,12,30.0,0,6,no_event,277,94107,2013-09-02,2013-09-02

In [8]:
station.head()

,station_id,name,lat,long,dockcount,landmark,installation
0,2,San Jose Diridon Caltrain Station,37.329732,-121.901782,27,San Jose,8/6/2013
1,3,San Jose Civic Center,37.330698,-121.888979,15,San Jose,8/5/2013
2,4,Santa Clara at Almaden,37.333988,-121.894902,11,San Jose,8/6/2013
3,5,Adobe on Almaden,37.331415,-121.893200,19,San Jose,8/5/2013
4,6,San Pedro Square,37.336721,-121.894074,15,San Jose,8/7/2013

In [9]:
trip.head()

,Trip ID,Start Date,Start Station,Start Terminal,End Date,End Station,End Terminal,Bike #,Subscription Type,Zip Code,start_date,end_date,date_to_join
0,4576,8/29/2013 14:13,South Van Ness at Market,66,8/29/2013 14:14,South Van Ness at Market,66,520,Subscriber,94127.0,2013-08-29 14:13:00,2013-08-29 14:14:00,2013-08-29
1,4607,8/29/2013 14:42,San Jose City Hall,10,8/29/2013 14:43,San Jose City Hall,10,661,Subscriber,95138.0,2013-08-29 14:42:00,2013-08-29 14:43:00,2013-08-29
2,4130,8/29/2013 10:16,Mountain View City Hall,27,8/29/2013 10:17,Mountain View City Hall,27,48,Subscriber,97214.0,2013-08-29 10:16:00,2013-08-29 10:17:00,2013-08-29
3,4251,8/29/2013 11:29,San Jose City Hall,10,8/29/2013 11:30,San Jose City Hall,10,26,Subscriber,95060.0,2013-08-29 11:29:00,2013-08-29 11:30:00,2013-08-29
4,4299,8/29/2013 12:02,South Van Ness at Market,66,8/29/2013 12:04,Market at 10th,67,319,Subscriber,94103.0,2013-08-29 12:02:00,2013-08-29 12:04:00,2013-08-29

In [10]:
trip['Zip Code'].iloc[0]

'94127.0'

In [12]:
city_zip['zip'].iloc[0]

94088

In [13]:
weather['zip'].iloc[0]

94107

In [22]:
def zip_transform(x):
    if type(x) == str:
        return int(x.split('.')[0].split('-')[0])
    elif np.isnan(x):
        return 0
    return int(x)

trip['zip'] = trip['Zip Code'].apply(lambda x: zip_transform(x))

In [53]:
len(set(trip['zip'].unique()).intersection(set(weather['zip'].unique())))

5

In [54]:
weather.zip.unique()

array([94107, 94301, 94041, 95113, 94063])

In [55]:
weather_with_city = pd.merge(weather, city_zip, how='left', on='zip')

In [57]:
weather_with_city[weather_with_city['city'].isnull()]

Empty DataFrame
Columns: [Date, Max_Temperature_F, Mean_Temperature_F, Min_TemperatureF, Max_Dew_Point_F, MeanDew_Point_F, Min_Dewpoint_F, Max_Humidity, Mean_Humidity , Min_Humidity , Max_Sea_Level_Pressure_In , Mean_Sea_Level_Pressure_In , Min_Sea_Level_Pressure_In , Max_Visibility_Miles , Mean_Visibility_Miles , Min_Visibility_Miles , Max_Wind_Speed_MPH , Mean_Wind_Speed_MPH , Max_Gust_Speed_MPH, Precipitation_In , Cloud_Cover , Events, Wind_Dir_Degrees, zip, datetime, date_to_join, city]
Index: []

[0 rows x 27 columns]

In [59]:
trip_with_city = pd.merge(trip, city_zip, how='left', on='zip')

In [62]:
len(trip_with_city[trip_with_city['city'].isnull()])

51215

In [63]:
len(trip)

143985

In [ ]:
<span class="LrzXr">500 Castro St, Mountain View, CA 94041, USA</span>