# Example

### Listing files in directory with os modul

In [3]:
import os

In [5]:
import pandas as pd

In [2]:
os.getcwd()

'/home/esztersomos/Documents/CEU/winter_2019/load_data'

In [12]:
os.chdir('/home/esztersomos/Documents/CEU/winter_2019/load_data/example_data_structure_folder/')

In [13]:
os.getcwd()

'/home/esztersomos/Documents/CEU/winter_2019/load_data/example_data_structure_folder'

In [14]:
filenames = os.listdir()

### Lists

In [15]:
filenames

['b_1.csv',
 'a_2.csv',
 '.ipynb_checkpoints',
 'a.csv',
 'b_3.csv',
 'b_2.csv',
 'a_1.csv',
 'a_3.csv']

In [7]:
type(filenames)

list

In [8]:
len(filenames)

8

In [6]:
a_data_list = []
b_data_list = []

In [7]:
type(a_data_list), len(a_data_list)

(list, 0)

In [8]:
mylist = ['a', 'a']
mylist

['a', 'a']

### Slicing lists and strings

In [16]:
first_filename = filenames[0]

In [17]:
first_filename

'b_1.csv'

In [18]:
type(first_filename)

str

In [19]:
first_char = first_filename[0]
first_char

'b'

### Looping lists

In [21]:
for f in filenames:
    print(f)
    break

b_1.csv

In [22]:
for f in filenames:
    print(f[0])

b
a
.
a
b
b
a
a

### If statement

In [23]:
first_filename

'b_1.csv'

In [24]:
first_filename[0] == 'b'

True

In [25]:
if first_filename[0] == 'b':
    print('This filename starts with b')

This filename starts with b

In [26]:
second_filename = filenames[1]
second_filename

'a_2.csv'

In [27]:
if second_filename[0] == 'b':
    print('This filename starts with b')

### Using if statement inside a loop

In [30]:
for f in filenames:
    print(f)
    if f[0] == 'a':
        print('This filename starts with a')
    if f[0] == 'b':
        print('This filename starts with b')
    #break

b_1.csv
This filename starts with b
a_2.csv
This filename starts with a
.ipynb_checkpoints
a.csv
This filename starts with a
b_3.csv
This filename starts with b
b_2.csv
This filename starts with b
a_1.csv
This filename starts with a
a_3.csv
This filename starts with a

### Adding to list

In [31]:
mylist = []

In [32]:
mylist

[]

In [33]:
mylist.append('new_element')

In [34]:
mylist

['new_element']

In [35]:
myvariable = 'newer_element'
mylist.append(myvariable)

In [36]:
mylist

['new_element', 'newer_element']

### Adding elements to list inside a loop based on the result of if statement

In [41]:
a_data_list = []
b_data_list = []

In [42]:
a_data_list

[]

In [43]:
b_data_list

[]

In [44]:
for f in filenames:
    print(f)
    if f[0] == 'a':
        print('This filename starts with a so it will be appended to a_data_list')
        a_data_list.append(f)
    if f[0] == 'b':
        print('This filename starts with b so it will be appended to b_data_list')
        b_data_list.append(f)
    print('a_data_list at this point is:')
    print(a_data_list)
    print('b_data_list at this point is:')
    print(b_data_list)
    print()

b_1.csv
This filename starts with b so it will be appended to b_data_list
a_data_list at this point is:
[]
b_data_list at this point is:
['b_1.csv']

a_2.csv
This filename starts with a so it will be appended to a_data_list
a_data_list at this point is:
['a_2.csv']
b_data_list at this point is:
['b_1.csv']

.ipynb_checkpoints
a_data_list at this point is:
['a_2.csv']
b_data_list at this point is:
['b_1.csv']

a.csv
This filename starts with a so it will be appended to a_data_list
a_data_list at this point is:
['a_2.csv', 'a.csv']
b_data_list at this point is:
['b_1.csv']

b_3.csv
This filename starts with b so it will be appended to b_data_list
a_data_list at this point is:
['a_2.csv', 'a.csv']
b_data_list at this point is:
['b_1.csv', 'b_3.csv']

b_2.csv
This filename starts with b so it will be appended to b_data_list
a_data_list at this point is:
['a_2.csv', 'a.csv']
b_data_list at this point is:
['b_1.csv', 'b_3.csv', 'b_2.csv']

a_1.csv
This filename starts with a so it will be appended to a_data_list
a_data_list at this point is:
['a_2.csv', 'a.csv', 'a_1.csv']
b_data_list at this point is:
['b_1.csv', 'b_3.csv', 'b_2.csv']

a_3.csv
This filename starts with a so it will be appended to a_data_list
a_data_list at this point is:
['a_2.csv', 'a.csv', 'a_1.csv', 'a_3.csv']
b_data_list at this point is:
['b_1.csv', 'b_3.csv', 'b_2.csv']

In [53]:
%whos

Variable          Type      Data/Info
-------------------------------------
b_data_list       list      n=3
f                 str       a_3.csv
filenames         list      n=8
first_char        str       b
first_filename    str       b_1.csv
mylist            list      n=2
myvariable        str       newer_element
os                module    <module 'os' from '/home/<...>da3/lib/python3.6/os.py'>
pd                module    <module 'pandas' from '/h<...>ages/pandas/__init__.py'>
second_filename   str       a_2.csv

### Sorting lists

In [55]:
b_data_list

['b_1.csv', 'b_3.csv', 'b_2.csv']

In [57]:
sorted_a_data_list = sorted(b_data_list)

In [58]:
sorted_a_data_list

['b_1.csv', 'b_2.csv', 'b_3.csv']

### pandas dataframe

In [59]:
import pandas as pd

In [60]:
first_a_data_filename = sorted_a_data_list[0]
first_a_data_filename

'b_1.csv'

In [61]:
first_a_df = pd.read_csv(first_a_data_filename)

In [62]:
type(first_a_df)

pandas.core.frame.DataFrame

In [63]:
first_a_df

    b  bb
0  10  aa
1  20  bb

In [64]:
len(first_a_df)

2

In [65]:
second_a_data_filename = sorted_a_data_list[1]
second_a_data_filename

'b_2.csv'

In [66]:
second_a_df = pd.read_csv(second_a_data_filename)

In [67]:
second_a_df

    b  bb
0  30  cc
1  40  dd

### Concatenating dataframes

In [68]:
a_dataframes = [first_a_df, second_a_df]

In [69]:
type(a_dataframes)

list

In [70]:
a_dataframes[0]

    b  bb
0  10  aa
1  20  bb

In [71]:
type(a_dataframes[0])

pandas.core.frame.DataFrame

In [72]:
concatenated_a_df = pd.concat(a_dataframes)

In [73]:
concatenated_a_df

    b  bb
0  10  aa
1  20  bb
0  30  cc
1  40  dd

In [74]:
len(concatenated_a_df)

4

In [75]:
a_dataframes = []
for a_filename in sorted_a_data_list:
    a_df = pd.read_csv(a_filename)
    a_dataframes.append(a_df)

In [76]:
len(a_dataframes)

3

In [77]:
type(a_dataframes[0])

pandas.core.frame.DataFrame

In [78]:
a_dataframes[0]

    b  bb
0  10  aa
1  20  bb

In [79]:
concatenated_a_df = pd.concat(a_dataframes)

In [80]:
concatenated_a_df

    b  bb
0  10  aa
1  20  bb
0  30  cc
1  40  dd
0  50  ee
1  60  ff

In [81]:
sorted_b_data_list = sorted(b_data_list)
b_dataframes = []
for b_filename in b_data_list:
    b_df = pd.read_csv(b_filename)
    b_dataframes.append(b_df)
concatenated_b_df = pd.concat(b_dataframes)

In [82]:
concatenated_b_df

    b  bb
0  10  aa
1  20  bb
0  50  ee
1  60  ff
0  30  cc
1  40  dd

### Saving dataframes as csv

In [83]:
concatenated_a_df.to_csv('a.csv', index=False)

# Excercise

### 1 - exercise
Import the os modul and look at the current working directory. If this is not the load_data directory, use the os.chdir() command to change the working directory!

In [ ]:
### Your code here

### 1 - check yourself
The output of this cell should end with "/load_data"

In [ ]:
if os.getcwd()[-9:] == 'load_data':
    print('Your working directory is correct')
else:
    print('Your working directory is NOT correct')

### 2 - exercise
Create a variable called filenames that contains the files and folders in the load_data library. (Use the os.listdir() command for this) <br>
Create three empty lists with the names: trip_file_list, station_file_list, weather_file_list

In [ ]:
### Your code here

### 2 - check yourself
The length of the filenames list should be 169 (or 168 if you haven't saved this notebook yet). <br>
The length of the other lists should be 0

In [ ]:
print('Length of filenames list is {}'.format(len(filenames)))
print('Length of trip_file_list is {}'.format(len(trip_file_list)))
print('Length of station_file_list list is {}'.format(len(station_file_list)))
print('Length of weather_file_list is {}'.format(len(weather_file_list)))

### 3 - exercise
Write a loop on the filenames list. Inside the loop check if the filenames starts with 't'. If it does, append it to the trip_file_list. Do similarly for the station_file_list and for the weather_file_list

Bonus exercise: Instead of using 3 if statements, try using 1 if-elif-else statement.

In [ ]:
### Your code here

### 3 - check yourself

In [ ]:
if len(trip_file_list) == 145:
    print('Length of trip_file_list is correct')
else:
    print('Length of trip_file_list is NOT correct')
if len(station_file_list) == 2:
    print('Length of station_file_list is correct')
else:
    print('Length of station_file_list is NOT correct')
if len(weather_file_list) == 19:
    print('Length of weather_file_list is correct')
else:
    print('Length of weather_file_list is NOT correct')

### 4 - exercise
Sort the trip, station and weather file lists. Make 3 dataframes by reading in the first csv (the first element from each sorted lists). <br><br>
At the end should have a dataframe called first_trip_df containing the trip_1.csv data, <br>
a dataframe called first_station_df containing the station_1.csv data and <br>
a dataframe called first_weather_df containing the weather_1.csv data.

In [ ]:
### Your code here

### 4 - check yourself
The Trip ID in the second row of the first_trip_df should be 4607 <br>
The station_id in the second row of the first_station_df should be 3 <br>
The date in the second row of the first_weather_df should be 8/30/2013 <br>

In [ ]:
print('This is the first 5 rows from the first_trip_df dataframe')
display(first_trip_df.head())
print('\nThis is the first 5 rows from the first_station_df dataframe')
display(first_station_df.head())
print('\nThis is the first 5 rows from the first_weather_df dataframe')
display(first_weather_df.head())

### 5 - exercise
Create an empty list called trip_dataframes <br>
Loop through the filenames in the sorted trip file list. Inside the loop read in the corresponding csv into a dataframe. Append this dataframe to the trip_dataframes. <br>
After the loop finished concatenate the dataframes in the trip_dataframes list into a dataframe called trip. <br><br>
Similarly create a station and a weather dataframe.

In [ ]:
### Your code here

### 5 - check yourself

In [ ]:
if len(trip) == 144115:
    print('The trip dataframe is correct')
else:
    print('The trip dataframe is NOT correct')
if len(station) == 69:
    print('The station dataframe is correct')
else:
    print('The station dataframe is NOT correct')
if len(weather) == 928:
    print('The weather dataframe is correct')
else:
    print('The weather dataframe is NOT correct')

### 6 - exercise
Write the trip, the station and the weather dataframes in csv files called trip.csv, station.csv and weather.csv. <br>
Use the index=False argument

In [ ]:
### Your code here

### 6 - check yourself
Run the code cell below to check this task

In [ ]:
if 'trip.csv' in os.listdir():
    print('trip.csv was successfully saved')
else:
    print('trip.csv was NOT successfully saved')
if 'station.csv' in os.listdir():
    print('station.csv was successfully saved')
else:
    print('station.csv was NOT successfully saved')
if 'weather.csv' in os.listdir():
    print('weather.csv was successfully saved')
else:
    print('weather.csv was NOT successfully saved')

### +1 exercise

The files used to create each dataframes are numbered from 1. Check if there is one (and only one) file for all the numbers for all dataframes.